#controls {
  padding: 3px;
  border-bottom: solid 1px #ccc;
  background-color: #eee;

  .browser {
    display: -webkit-flex;
    -webit-flex-direction: column;

    button, input {
      border-radius: 2px;
    }

    #location {
      line-height: 20px;
      border: solid 1px #ccc;
      font-size: 13px;
      padding: 5px;
      width: 100%;
      -webkit-box-sizing: border-box;
    }

    #location-form {
      display: -webkit-flex;
      -webkit-flex: 1;
      -webit-flex-direction: column;
    }

    #center-column {
      -webkit-flex: 1;
    }
  }
}


.loading #reload i {
  animation: spinner-animation 1s infinite linear;
  background: transparent;
  border-color: transparent;
}

@-webkit-keyframes spinner-animation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}